<div class="card-body">
  <h4 class="card-title">New orders</h4>
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <td>
            <b>nom_projet</b>
          </td>
          <td>chef_projet</td>
          <td>Cost price MAD</td>
          <td>
            <span class="badge rounded-pill alert-success"> Completed </span>
          </td>
          <td>12/09/2022</td>
          <td class="d-flex justify-content-end align-item-center">
            <a routerLink="#" class="text-success">
              <i class="fas fa-eye"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
